/* Ma page web -
   Solène Marziale
*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

/* Nav */ 

.container
{
  width: 100%;
  background-color: white;
}

nav
{
  font-family: "Dancing Script", cursive, Impact, "Arial Black", Arial, Verdana, sans-serif;
  width: 100%;
  margin-left: 50%;
  margin-bottom: 7%;

}

.icon 
{
  display: inline;
  margin-left:2%;
  margin-right:2%;
  text-decoration: none;
}

.icon a
{
  color: #3f7d91;
  text-decoration: none;
  font-size: 25pt;
}

.icon a:hover 
{
  color: #ed786a;
}


/* Header */ 

.header
{
  width: 100%;
  text-align:center;
  font-family: 'Satisfy', cursive;
  color:#395f6b;
  font-size:25pt;
  border-bottom: solid 1px #d5e0e3;
}

.header h2
{
  font-size: 20pt;
  font-family: "Dancing Script", cursive;
}

/* Section */

.section
{
  width: 98%;
  border-top: solid 1px #d5e0e3;
  margin-top:0.5em;
  margin-bottom:0em;
  display:flex;
  color:#395f6b;
  font-family: 'Arapey', serif;
}

/* Aside */

.aside
{
  margin-top:1em;
  margin-bottom:1em;
  padding: 2em;
  padding-top:0em;
  margin-right:1em;
  flex-grow:1;
  width:30%;
  height:30em;
  overflow:scroll;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.aside h1
{
 text-align: center;
 font-family: "Dancing Script", cursive;
}


#fixedTitreAside
{
 margin-bottom:8em; 
 background-color: #ffffff;
}

#titreAside
{
 margin-top:0em; 
 position:sticky;
 width:23%;
 background-color: #ffffff;
 position:absolute;
 left:1em;
}

/* Article */

.article
{
  margin-top:1em;
  margin-bottom:1em;
  padding: 2em;
  padding-top:1em;
  margin-left:1em;
  border: 1px dashed #d5e0e3;
  border-radius: 2em;
  flex-grow: 20;
  width:100%;
}

.article h1
{
 font-family: "Dancing Script", cursive;
}

/* Post */ 

.post
{
  padding: 2em;
  margin-top:1em;
  border: 1px dashed #d5e0e3;
  border-radius: 2em;
  width:80%;
  align-items: center;
}


.footer
{
  font-family: 'Arapey', serif;
  color:#395f6b;
  width: 100%;
  margin-top:0em;
  text-align:center;
}